<!DOCTYPE html>
<html>
    <head>
        <title>Jordan's blog</title>
    </head>
<body>
    <header>
        <h1>Welcome to the first iteration of my blog!!</h1>
    </header>

    <article>
        <time>published: 14.06.2014, 12:14</time>
        <h2><a href="">My first post</a></h2>
        <p>Just to cover my bases, I am following a similar format to the tutorial when it comes to decorating my page!! Honestly this took me two tries before I was able to get everything to run correctly, but a win is a win!!!.</p>
    </article>

    <article>
        <time>published: 14.06.2014, 12:14</time>
        <h2><a href="">The coolest thing I did this weekend</a></h2>
        <p>For the second post- the coolest thing I did this weeeknd was continue knitting the shades of blue sweater that I started a few weeks ago. I am currently on sleeve 1 out of 2 before I am done!! I am very excited about being able to finish and wear it!!</p>
    </article>

    <p>Thanks for tuning in!</p>
    <p>See you at the same bat time, same bat channel!</p>
</body>
</html>
